.banners__slider 
                            .swiper.volunteersSwiper
                                .swiper-wrapper
                                    .swiper-slide 
                                        .banners__slider-i 
                                            .banners__slider-bg 
                                                img(src="./img/banners/banners-1.png")
                                            .banners__slider-c
                                                .banners__slider-subtitle Подзаголовок
                                                .banners__slider-title 
                                                    | Проверьте своего 
                                                    br 
                                                    | рекомендателя 
                                                .banners__slider-text Текст для второго подзаголовка  
                                                a(href="/").banners__slider-button Проверить
                                    .swiper-slide 
                                        .banners__slider-i 
                                            .banners__slider-bg 
                                                img(src="./img/banners/banners-2.png")
                                            .banners__slider-c
                                                .banners__slider-subtitle Подзаголовок
                                                .banners__slider-title 
                                                    | Проверьте своего 
                                                    br 
                                                    | рекомендателя 
                                                .banners__slider-text Текст для второго подзаголовка  
                                                a(href="/").banners__slider-button Проверить
                                    .swiper-slide 
                                        .banners__slider-i 
                                            .banners__slider-bg 
                                                img(src="./img/banners/banners-3.png")
                                            .banners__slider-c
                                                .banners__slider-subtitle Подзаголовок
                                                .banners__slider-title 
                                                    | Проверьте своего 
                                                    br 
                                                    | рекомендателя 
                                                .banners__slider-text Текст для второго подзаголовка  
                                                a(href="/").banners__slider-button Проверить
                                    .swiper-slide 
                                        .banners__slider-i 
                                            .banners__slider-bg 
                                                img(src="./img/banners/banners-4.png")
                                            .banners__slider-c
                                                .banners__slider-subtitle Подзаголовок
                                                .banners__slider-title 
                                                    | Проверьте своего 
                                                    br 
                                                    | рекомендателя 
                                                .banners__slider-text Текст для второго подзаголовка  
                                                a(href="/").banners__slider-button Проверить
                            .swiper-controls 
                                .swiper-button-next
                                    img(src="./svg/slider/arrow-next.svg")
                                .swiper-button-prev
                                    img(src="./svg/slider/arrow-prev.svg")
