.cardUser 
                        .cardUser__photo 
                            img(src="./img/volunteers/people.png")
                        .cardUser__content 
                            .cardUser__content-n Габиулин Ферис Азимович
                            .cardUser__content-j Самарская обл. г. Тольятти
                            .cardUser__content-socials
                                a(href="/").cardUser__content-s 
                                    img(src="./img/volunteers/whatsapp.png")
                                a(href="/").cardUser__content-s 
                                    img(src="./img/volunteers/telegram.png")
                                a(href="/").cardUser__content-s 
                                    img(src="./img/volunteers/mail.png")
                                

