footer.footer 
    .footer__bg 
        img(src="./svg/bg.svg")
    .footer__over
        img(src="./img/footer/banner.png")
    .footer__banner    
        .containers     
            .footer__banner-t 
                | Цепляющий заголовок в 
                br 
                | подвале
            a(href="/").footer__banner-b Пожертвовать
    .footer__line 
    .footer__main
        .containers 
            .footer__main-d 
                a(href="/").footer__main-logo 
                    img(src="./img/footer/logo.png")
                .footer__main-t Мы любим животных и стараемся поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев и тёплый кров.
            .footer__main-list 
                .footer__main-title Пункт
                ul.footer__main-l
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
            .footer__main-list 
                .footer__main-title Пункт
                ul.footer__main-l
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
            .footer__main-list 
                .footer__main-title Пункт
                ul.footer__main-l
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
            .footer__main-list 
                .footer__main-title Пункт
                ul.footer__main-l
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
                    li.footer__main-i 
                        a(href="/") Пункт
            
    .footer__line 
    .footer__project 
        .footer__project-name ООО ..........................