label.custom-input-phone__label
                            img.custom-input-phone__icon(src="./svg/components/rus.svg")
                            input.custom-input-phone__input(id="phone__mask" placeholder="+7")