label.custom-input-search__label
                            img.custom-input-search__icon(src="./svg/components/search.svg")
                            input.custom-input-search__input(placeholder="@@placeholder")