.menu.display-n
                            .menu__close 
                                img(src="./svg/header/back.svg")
                                p Закрыть
                            ul.menu__list
                                li.menu__item.menu__item-a Главная
                                li.menu__item Пожертвовать
                                li.menu__item Волонтеры
                                li.menu__item Жертвователи
                                li.menu__item Проверка сертификата
                                li.menu__item Для волонтеров
                            a.menu__link(href="/")
                                p Пожертвовать
                            .menu__logo 
                                img(src="./img/header/logo-black.png")