.modal-thx#modalThx.display-n
                            .modal-thx__wrapper 
                                .modal-thx__title Спасибо!
                                .modal-thx__text Мы получили вашу заявку и скоро свяжемся с вами вдля уточнения деталей сотрудничества!
                                button.modal-thx__button#buttonModalThxClose Назад