select.c_select(name="select" style="display: none")
                            option Placeholder
                            option(value="default" selected="") 1.Element
                            option(value="element_2") 2.Element
                            option(value="element_3") 3.Element
                            option(value="element_4") 4.Element
                            option(value="element_5") 5.Element
                            option(value="element_6") 6.Element
                            option(value="element_7") 7.Element
                            option(value="element_8") 8.Element
