@@include('components/_head.pug', {
    "title": "Главная",
})

@@include('components/_header.pug', {
    "type": "white",
    "activePage": "/"
})

.main-banner 
    .main-banner__bg 
        img(src="./img/main/banner.png")
    .main-banner__wrapper 
        .containers
            .main-banner__blocks  
                .main-banner__content 
                    .main-banner__content-t Проект, который сделает этот мир лучше
                    .main-banner__content-d Равным образом консультация с широким активом позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый о
                    a(href="/").main-banner__content-b Внести свой вклад
                .main-banner__video 
                    .main-banner__video-t Посмотрите короткое видео, чтобы понять нашу идею и ценности
                    .main-banner__video-d 
                        img(src="./svg/main/arrow-decor.svg")
                    .main-banner__video-v 
                        video(poster="image" loop="loop" controls="controls" tabindex="0")
                            source(src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

.main-description 
    .containers
        .main-description__banner 
            img(src="./img/main/desc-1.png")
        .main-description__content 
            .main-description__content-t "Народное Кино" - от основателей Международного Исламского Информационного Агентства. 
            .main-description__content-d Данный проект начал работу над созданием многосерийной кинокартины об одном из величайших людей мусульманской общины, борце за человеческую свободу, прекрасном человеке и дипломате - 
                span Имаме Шамиле
                | .
                br 
                | Над сериалом 
                span "Шейх Шамиль"
                | под руководством Международного Исламского Информационного Агентства "Verity" начали трудиться сразу несколько историков, дабы создать картину, которая будет практически идентична реальным событиям из жизни Шейха. 
                br
                | Название проекта неслучайно - ведь, все желающие отдать дань уважения этому великому человеку, смогут оказать свою помощь и содействие. Каждый, сделавший это, будет поименно внесен в памятную книгу проекта, оставив таким образом свой след в распространении благого


.main-author 
    .containers
        .main-author__banner 
            img(src="./img/main/desc-2.png")
        .main-author__content 
            .main-author__content-t Кто стоит за проектом?
            .main-author__content-d Сценаристом выступает 
                span Атилла Энгин 
                | - человек, подаривший сценарии всемирно известным сериалам «Ветка маслин», «1453 Завоевание», «Воскресший Эртугрул» и «Основание: Осман».
                br 
                | Атилла Энгин — турецкий сценарист и актер. Родился в Измире 25 мая 1968 года.Кинодеятель начинал свой путь как актер, снявшись в 1960 году в драме Atesten damla. Также он отметился ролью кардинала в турецком хите «Воскресший Эртугрул».Атилла Энгин сдал первый сценарий в 2000 году — это была драма под названием «Деревья умирают стоя».

.main-project 
    .containers
        .main-project__content 
            .main-project__title Что мы делаем для проекта?
            .main-project__decription Для исторической точности, наша команда организовала рабочий визит сценариста Атиллы Энгина в Дагестан, где он, совместно с профессиональными переводчиками, историками и экскурсоводами увидел своими глазами места, где творилась история, которая будет показана в кинокартине. 
                br
                | Это событие неоднократно упоминалось в различных региональных и государственных СМИ, Атилла Энгин выступил на масштабных пресс-конференциях, посвященных запуску проекта, в городе Махачкала, а также в Москве.
        .main-project__imgs 
            img(src="./img/main/item-1.png")
            img(src="./img/main/item-2.png")
            img(src="./img/main/item-3.png")
            img(src="./img/main/item-4.png")
            img(src="./img/main/item-5.png")
            img(src="./img/main/item-6.png")

.main-card 
    .containers
        .main-card__container
            .main-card__photo
                img(src="./img/main/card.png")
            .main-card__content
                .main-card__logo
                    img(src="./img/main/logo.png")
                .main-card__title Турецкий сценарист, работающий над сериалом об имаме Шамиле, посетил Дагестан

                .main-card__description Атилла Энгин, пишущий сценарий турецкого сериала об имаме Шамиле, посетил места, связанные с событиями Кавказской войны. В частности, он побывал ....
                a.main-card__link 
                    p Читать полностью

.main-map
    .containers 
        .main-map__title Карта проекта:
        ul.main-map__list 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item.main-map__list-item__a
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.
            li.main-map__list-decor 
            li.main-map__list-item
                h5 2020 г. - июнь 2021 г.
                p Первые идеи проекта, готовится план по реализации.


@@include('components/_footer.pug')

@@include('components/_menu.pug')

@@include('components/_script.pug')