@@include('components/_head.pug', {
    "title": "Волонтеры"
})

@@include('components/_header.pug', {
    "type": "black",
    "activePage": "/volunteers"
})

.volunteers-recom 
    .containers 
        .volunteers-recom__t Рекомендатели

        @@include('components/_banners.pug')

        .volunteers-recom__d Равным образом консультация с широким активом позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и развитие структуры позволяет оценить значение соответствующий 

        .volunteers-recom__filter 
            .volunteers-recom__filter-i 
                @@include('components/_select.pug', {
                    placeholder: "Сортировка по фамилии"
                })
            .volunteers-recom__filter-i 
                @@include('components/_inputSearch.pug', {
                    placeholder: "Поиск по ФИО"
                })
            .volunteers-recom__filter-i 
                @@include('components/_inputSearch.pug', {
                    placeholder: "Поиск по региону"
                })
            

        ul.volunteers-recom__list
            li.volunteers-recom__list-i 
                .volunteers-recom__list-t А
                .volunteers-recom__list-peoples
                    @@include('components/_cardUser.pug')
                    @@include('components/_cardUser.pug')
                    @@include('components/_cardUser.pug')

@@include('components/_script.pug')