@import 'fonts';

//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #fff;
$fontNunito: 'NunitoSans';
$fontInter: 'Inter';
$fontForum: 'Forum';

//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: text; // fix
}

body {
	background-color: $bg;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.containers {
	max-width: 1440px;
	padding: 0 150px;
	margin: 0 auto;
	width: 100%;
}
.display-n {
	display: none !important;
}
opacity-h {
	opacity: 0 !important;
}

//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import 'index/style';
@import 'header';
@import 'footer';

@import 'volunteers/style';
@import 'donate/style';
@import 'contributors/style';
@import 'for_volunteers/style';
@import 'verification/style';
@import 'certificate/style';

//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
//! --------------------------------------------------------------------

//| Components

.cardUser {
	background: #ffffff;
	box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: hidden;
	&__photo {
		width: 100%;
		height: 235;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		padding: 18px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&-n {
			font-family: $fontNunito;
			font-style: normal;
			font-weight: 700;
			font-size: 15px;
			line-height: 20px;
			color: #202224;
		}
		&-j {
			margin: 8px 0 0 0;
			font-family: $fontNunito;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 20px;
			color: #b5b5b5;
		}
		&-socials {
			margin: 20px 0 0 0;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
			gap: 9px;
		}
		&-s {
			cursor: pointer;
		}
	}
}

//| Custom Select Lang

.clang_select {
	background-color: transparent;
	width: 60px;
	position: relative;
}
.clang_select .clang_select-placeholder {
	display: block;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	& p {
		display: none;
	}
}
.clang_select .clang_select-placeholder img {
	width: 32px;
	height: 32px;
	margin: 0 5px 0 0;
}
.clang_select:after {
	display: none !important;
}

.clang_select .clang_select-placeholder:after {
	content: '';
	background: url('../svg/header/arrow-down.svg') no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 55%;
	right: 8px;
	transform: translate(0, -55%);
	height: 11px;
	width: 9px;
}

.clang_select-white .clang_select-placeholder:after {
	content: '';
	background: url('../svg/header/arrow-d.svg') no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 55%;
	right: 8px;
	transform: translate(0, -55%);
	height: 11px;
	width: 9px;
}

.clang_select.clang_select-item-active .clang_select-placeholder:after {
	transition: all 0.5s ease;
	transform: translate(0, -50%) rotate(180deg);
}
.clang_select .clang_select-block {
	bottom: auto;
	top: calc(100% + 5px);
	position: absolute;
	left: -130%;
	z-index: 5;
}
.clang_select.clang_select-item-active .clang_select-block {
	padding: 20px 30px;
	width: 250px;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.clang_select .clang_select-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
}
.clang_select .clang_select-element {
	width: 100%;
	padding: 3px 0;
	background: 0 0;
	color: #000;
	border: none;
	margin: 0 0 5px 0;
	text-align: left;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	& p {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 40px;
		color: #000;
	}
}
.clang_select .clang_select-element img {
	width: 32px;
	height: 32px;
	margin: 0 5px 0 0;
}
.clang_select .clang_select-element-active {
	& p {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 40px;
		color: #7167e8;
	}
}

//| Custom Input

.custom-input {
	width: 100%;
	outline: none;
	background: #fff;
	padding: 10px 17px;
	min-height: 36px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-family: $fontInter;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 135%;
	color: #000;
	&::placeholder {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: rgba(26, 28, 34, 0.3);
	}
}

//| Custom Input Search

.custom-input-search {
	&__label {
		position: relative;
		width: 100%;
	}
	&__icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
	}
	&__input {
		width: 100%;
		outline: none;
		background: #fff;
		padding: 10px 30px 10px 17px;
		min-height: 36px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: #000;
		&::placeholder {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 135%;
			color: rgba(26, 28, 34, 0.3);
		}
	}
}

//| Custom Input Phone

.custom-input-phone {
	&__label {
		position: relative;
		width: 100%;
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translate(0, -50%);
	}
	&__input {
		width: 100%;
		outline: none;
		background: #fff;
		padding: 10px 17px 10px 30px;
		min-height: 36px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: #000;
		&::placeholder {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 135%;
			color: rgba(26, 28, 34, 0.3);
		}
	}
}

//| Custom Input Rub

.custom-input-rub {
	&__label {
		position: relative;
		width: 100%;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translate(0, -50%);
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: #1a1c22;
	}
	&__input {
		width: 100%;
		outline: none;
		background: #fff;
		padding: 10px 17px 10px 30px;
		min-height: 36px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: #000;
		&::placeholder {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 135%;
			color: rgba(26, 28, 34, 0.3);
		}
	}
}

//| Custom checkbox
.checkbox {
	position: relative;
	margin-bottom: 1rem;
}

.checkbox__input {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.checkbox__label {
	padding-left: 25px;
	font-family: $fontInter;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #2e3a59;
	cursor: pointer;
}

.checkbox__label:before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;

	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 3px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	transition: background 0.1s linear, border 0.1s linear;
}

.checkbox__label:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;

	background: url('../svg/components/check.svg') no-repeat;
	background-size: 12px 12px;
	opacity: 0;

	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 2;

	transition: opacity 0.1s linear;
}

.checkbox__input:checked + .checkbox__label:before {
	background-color: #d5ba64;
	border-color: #d5ba64;
}

.checkbox__input:checked + .checkbox__label:after {
	opacity: 1;
}

//| Custom select

.c_select {
	padding: 10px 17px;
	min-height: 36px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	width: 100%;
	position: relative;
}
.c_select .c_select-placeholder {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	font-family: $fontInter;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 135%;
	color: #1a1c22;
}
.c_select:after {
	display: none !important;
}
.c_select .c_select-placeholder:after {
	content: '';
	background: url('../svg/components/arrow-down.svg') no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	height: 5px;
	width: 9px;
}
.c_select.c_select-item-active .c_select-placeholder:after {
	transition: all 0.5s ease;
	transform: translate(0, -50%) rotate(180deg);
}
.c_select .c_select-block {
	bottom: auto;
	top: calc(100% + 3px);
	position: absolute;
	left: 0;
	z-index: 5;
}
.c_select.c_select-item-active .c_select-block {
	padding: 20px;
	width: 100%;
	height: auto;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.c_select .c_select-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 145px;
	overflow-y: auto;
}
.c_select .c_select-wrapper::-webkit-scrollbar {
	width: 27px;
}
.c_select .c_select-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px 10px #808080;
	box-shadow: inset 0 0 10px 10px #808080;
	border: solid 12px transparent;
}
.c_select .c_select-wrapper::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 10px 10px #000;
	box-shadow: inset 0 0 10px 10px #000;
	border: solid 10px transparent;
}
.c_select .c_select-element {
	width: 100%;
	padding: 3px 0;
	background: 0 0;
	font-family: $fontNunito;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 30px;
	color: #000000;
	border: none;
	margin: 0 0 5px 0;
	text-align: left;
	cursor: pointer;
}
.c_select .c_select-element-active {
	background: rgba(0, 0, 0, 0.03);
}

//| Accordion

.accordion {
	padding: 40px 0 55px 0;
	position: relative;
	z-index: 5;
	& .containers {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	&__t {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 42px;
		color: #282828;
	}
	&__a {
		margin: 13px 0 0 0;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: rgba(0, 0, 0, 0.8);
	}
	&__w {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
		margin: 55px 0 0 0;
	}
	&__block {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__header {
		min-height: 75px;
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 26px 36px 26px 36px;
		width: 100%;
		display: grid;
		grid-template-columns: 20fr 1fr;
		align-items: center;
		gap: 30px;
		cursor: pointer;
		transition: all 0.5s ease;
	}
	&__title {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		color: #000000;
		transition: all 0.5s ease;
	}
	&__close {
		width: 22px;
		height: 22px;
		background: transparent;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform 0.5s ease;
	}
	&__content {
		overflow: hidden;
		width: 100%;
		height: 0;
		transition: all 0.5s ease;
		background: #ffffff;
		border: 1px solid transparent;
		box-shadow: 0px 0px 30px transparent;
		border-radius: 0 0 10px 10px;
		& p {
			padding: 15px 30px;
			font-family: $fontInter;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: rgba(0, 0, 0, 0.8);
			transition: all 0.5s ease;
		}
	}
	&__p {
		margin: 45px auto 0 auto;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: black;
		background: #ececec;
		padding: 14px 30px;
		cursor: pointer;
		width: max-content;
	}
}

.active {
	& .accordion__title {
		color: #fff;
	}
	& .accordion__header {
		background: #5450a1;
		border-radius: 10px 10px 0 0;
	}
	& .accordion__close {
		transform: rotate(180deg);
		& svg {
			& path {
				fill: #fff;
			}
		}
	}
	& .accordion__content {
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
		height: auto;
		transition: all 0.5s ease;
	}
}

//| Banners

.banners__slider {
	width: 100%;
	margin: 23px 0 0 0;
	position: relative;
	& .swiper-button-prev::after,
	.swiper-button-next::after {
		content: none;
	}
	& .swiper-button-prev {
		left: 40px;
	}
	& .swiper-button-next {
		right: 40px;
	}
	&-i {
		border-radius: 15px;
		overflow: hidden;
		padding: 50px 137px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		border-radius: 15px;
		background: #12a19a;
	}
	&-bg {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&-c {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&-subtitle {
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 30px;
		color: #ffffff;
	}
	&-title {
		margin: 8px 0 0 0;
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 900;
		font-size: 37px;
		line-height: 48px;
		color: #ffffff;
	}
	&-text {
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 30px;
		color: #ffffff;
		opacity: 0.8;
	}
	&-button {
		margin: 30px 0 0 0;
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 28px;
		color: #ffffff;
		padding: 8px 35px;
		background: #d5ba64;
		border-radius: 11px;
	}
}

//| Custom Pagination

#pagination-controls {
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	margin: 0 auto 55px auto;
	gap: 5px;
	& .active {
		border: 1px solid #6c5dd3;
		border-radius: 5px;
	}
	& li {
		list-style-type: none;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #6c5dd3;
	}
	& #previous-page {
		& .page-link {
			width: 30px;
			height: 30px;
			position: relative;
			&::after {
				content: '';
				width: 6px;
				height: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				background: url('../svg/pagination/arrow-prev.svg');
				transform: translate(-50%, -50%);
			}
		}
	}
	& #next-page {
		& .page-link {
			width: 30px;
			height: 30px;
			position: relative;
			&::after {
				content: '';
				width: 6px;
				height: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				background: url('../svg/pagination/arrow-next.svg');
				transform: translate(-50%, -50%);
			}
		}
	}
}

//| Modal Thx

.modal-thx {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	&__wrapper {
		width: 350px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		background: #ffffff;
		border-radius: 20px;
		padding: 32px 40px;
	}
	&__title {
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: 55px;
		text-align: center;
		color: #000000;
	}
	&__text {
		margin: 24px 0 0 0;
		font-family: $fontInter;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 27px;
		text-align: center;
		color: #000000;
	}
	&__button {
		margin: 50px 0 0 0;
		background: #d5ba64;
		border-radius: 5px;
		padding: 10px 53px;
		font-family: $fontNunito;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		color: #ffffff;
	}
}
